body {
    margin: 0;
}

.post {
    padding: 30px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 30px;
}

.post > .childrens {
    margin-left: 10px;
    margin-top: 30px;
}

.post > .user {
    font-weight: bold;
}

.post > .content {
    margin: 10px 0;
}

.post:last-child {
    margin-bottom: 0px;
}

.post:only-child:not(.rootPost){
    border: none;
    background: none !important;
    margin-bottom: 0px;
    padding: 0px;
    border-top: 1px solid black;
    border-radius: 0;
    padding-top: 15px;
}

.post:only-child:not(.rootPost) > .childrens {
    margin-left: 0px;
    margin-top: 0px;
}

.post > .childrens:empty { display: none }

.infos .title {
    font-size: 50px;
    margin-top: 30px;
}

.infos .description {
    font-size: 30px;
}

.answer, .linkButton {
    color: #a529a5;
    text-decoration: underline;
    cursor: pointer;
}

.user {
    text-transform: capitalize;
}

button {
   border: none;
   background: #0089ff;
   border-radius: 3px;
   color: white;
   font-size: 25px;
   cursor: pointer;
}

input, textarea {
    border-radius: 3px;
    border: 1px solid #0a6bbf;
    background: rgba(255,255,255,0.5);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.board {
    text-align: center;
}

.board button {
    font-size: 18px;
}

.board .name, .board .date {
    font-size: 20px;
    margin-left: 15px;
}

@media screen and (max-width: 900px) {
    .newPost {
        margin: 10px;
    }
    
    .newThread {
        margin-left: 10px;
    }
    
    .infos {
        margin-left: 10px;
    }
}
